{% extends "template.html" %}
{% block head %}{{super()}}{% endblock %}
{% block content %}
<div id="home">
    <a href="/">Go Back</a>
</div>
<div id="board">
    <form>
        {% set index = namespace(value = 0) %}
        {% for i in range(5) %}
        <div class="box-row">
            {% for j in range(5) %}
                <input type="checkbox" id="{{index.value}}" name="{{index.value}}" value="{{index.value}}">
                <label for="{{index.value}}" class="box-label">
                    <strong>{{squares[index.value].name}}:</strong> {{squares[index.value].event}}
                </label>
                {% set index.value = index.value + 1 %}
            {% endfor %}
        </div>
        {% endfor %}<br>
    </form>
</div>
{% endblock %}